<h1>Dog Info</h1>

<p>Name: <%= @dog.name %></p>
<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age %></p>
<br>
<p>Dunder Mifflin Employees:</p>
<% @dog.employees.each do |employee| %>
    <%= link_to employee.full_name, employee_path(employee) %>
    <br>
<% end %>